body{
  background-color: #b2b2b2;
}

p {
  width: 650px;
  text-align: center;
  font-size: 20px;
  margin: auto;
  padding-top: 10px;
}


h1 {
  color: Green;
  background-color: #86af49;
  width: 290px;
  margin: auto;
  text-align: center;
  border: solid;
}

#line {
  background-color: black;
  width: 280px;
  height: 4px;
  margin: auto;
}

header {
  font-family: monospace;
  color: blue;
  display: center;
  text-align: center;
}

#top {
  margin-top: 200px;
}

.prules {
  background-color: yellow;
  text-align: center;
  border: double;
}

code {
 background-color: #eaece5;
 border: solid;
 border-color:  #87bdd8;
 
}

#codeboxes {
  padding-left: 400px;
}

#codebox {
   padding-left: 250px;
   background-color: teal;
   border: solid;
   }
  

.ruleul {
  display: inline-block;
  text-align: left;
}

.rulelist {
  text-align: center
}

code {
  margin-left: 300px;
}

#navbar {
   border: solid;
   display: block;
   position: fixed;
   left: 0;
   width: 250px;
   overflow: hidden;
   height: 100%;
   background-color: #808080;
   cursor: pointer;
   
}

a:hover {
  color: yellow;
}

a:visited {
  color: black;
}

.nav-link {
  margin: 0;
  padding: 10px, 30px;
  list-style: none;
  border: solid;
  font-size: 17px;
  
  
}

.navbarli {
  list-style: none;
  line-height: 100px;
  font-family: 'Open Sans';
}

@media screen and (max-height: 450px) {
   # navbar  {padding-top: 15px;}
   #navbar  a {font-size: 18px;}
 }